tldextract==3.4.1
python-whois==0.8.0
langchain>=0.1.13
langchain-openai>=0.1.3
openai>=1.0.0
pydantic
duckduckgo-search
whoisit
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability