tldextract==3.4.1
python-whois==0.8.0
langchain==0.0.204
openai==0.27.4
pydantic
duckduckgo-search
whoisit
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability